<!DOCTYPE html>
<html>
    <head>
        <title>Pragna IITJEE Classes</title>
        <meta name=”description” content="Pragna IITJEE classes">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/runningstyle.css">
        <script src="/moment.js"></script>
        <script src="/moment-timezone-with-data.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>

    <div id="container" >

    <% if(errorArr && errorArr.length > 0){ %>
        <div class="alert alert-danger" role="alert"> <%= errorArr %> </div>
    <% } %>
    <% if(successArr && successArr.length > 0){ %>
        <div class="alert alert-success" role="alert"> <%= successArr %> </div>

    <% } %>
    <!--</div>-->
    </div>
