<%  include ../partials/header %>
<h1>New Quiz</h1>
<div class="row" >
	<form id="text-form" action="/quiz/new" method="POST">
		<input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
		<h4>Quiz Name</h4>
		<input required type="text" name="name"/><br>
		<h4>Duration (in minutes)</h4>
		<input required type="text" id="duration" value="120" name="duration" placeholder="120"/>
		<h4>correct answer marks</h4>
		<input type="text" value=4 name="correct" placeholder="4"/>
    <h4>wrong answer marks</h4>
		<input type="text" value=-1 name="incorrect" placeholder="-1"/>
		<h4>Select Quiz Type</h4>
	<select required id="type" name="type">    
			<option value="Fill Ups">Fill Ups</option>
			<option value="Matrix Match">Matrix Match</option>
			<option value="One Or More Options Correct">One Or More Options Correct</option>
			<option value="Single Option Correct">Single Option Correct</option>
		</select>
		<h4>Negative Marking</h4>
		<select required name="negative">
			<option value="yes">yes</option>
			<option value="no">no</option>
		</select>
		<h4>Questions</h4>
		<select id="questions" name="questions" multiple>
		</select>
		<h4>Select batch</h4>
		<select multiple name="batches" id="">
			<option value="">none</option>
			<%for( b of batches){%>
				<option value="<%=b%>"><%=b%></option>
			<%}%>
		</select>
		<button class="btn btn-lg btn-success">Submit</button>
	</form>
	<button onclick="
			var el = $('#questions')[0];
			$('#selected').html(getSelectValues(el));">
			Show selected questions</button>
</div>
<div class="row">
    <h4>questions selected:</h4>
    <div id="selected">
    </div>
</div>
<script>
function htmlDecode(input)
{    // for passing EJS variables to javascript
	var e = document.createElement('div');
	e.innerHTML = input;
	return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
}

var t,M=[];
var test_types = [];
$("#type option").each(function()
{
    test_types.push($(this).val());
});
test_types =  test_types.sort();

var questions = JSON.parse(htmlDecode("<%= JSON.stringify(questions)%>"));
for(var i=0; i<questions.length;i++)
{
	var t = questions[i][0].type;
		M[t] = i;
}
var arr= [],str;
function change_questions(i)
{
	if(i ==undefined)
		return $('#questions').html("<option value=''>none</option>");	
	arr = questions[i];
	str = "<option value=''>none</option>";
	for(var j=0;j<arr.length;j++)
		str += "<option value='"+arr[j]._id+"'>"+arr[j]._id+"</option>";
	$('#questions').html(str)
}

$(document).ready(function(event)
{
	$('#type').change(function(e){
		change_questions(M[$(this).val()]);			
	}).change();
});


// Return an array of the selected opion values
// select is an HTML select element
function getSelectValues(select) {
  var result = [];
  var options = select && select.options;
  var opt;

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      result.push(opt.value || opt.text);
      result.push('<br>');
    }
  }
  return result;
}
</script>
<%  include ../partials/footer %>